{% block body %}
    <dialog popover data-ai-popover id="{{ id }}" class="ai-product-management-modal modal-popover" role="dialog">
        {% block modal %}
            <div class="modal">
                <div class="modal-dialog">
                    <div class="modal-content">
                        {% block header %}
                            <div class="modal-header">
                                <h4 class="modal-title">{{ 'AI assistant' | trans }}</h4>
                                <button type="button" class="btn-close" popovertarget="{{ id }}" popovertargetaction="hide" aria-label="{{ 'Close' | trans }}"></button>
                            </div>
                        {% endblock %}

                        <div class="modal-body js-modal-body">
                            {% block loading %}
                                <div class="ai-product-management-modal__loading">
                                    <span>{{ 'AI is processing your request' | trans }}</span>
                                    <span class="fa fa-spinner fa-spin"></span>
                                </div>
                            {% endblock %}

                            {% block empty %}
                                {% if emptyText %}
                                    <span class="text-center ai-product-management-modal__empty">{{ emptyText }}</span>
                                {% endif %}
                            {% endblock %}

                            {% block error %}
                                <div class="js-ai-product-management-modal__error ai-product-management-modal__error alert alert-warning mb-2"></div>
                            {% endblock %}

                            <div class="ai-product-management-modal__content">
                                {% block content %}{% endblock %}
                            </div>
                        </div>

                        {% block footer %}
                            <div class="modal-footer ai-product-management-modal__actions">
                                {% block actions %}
                                    <div class="modal-actions">
                                        <button type="button" class="js-ai-product-management-again btn btn-outline btn-view">{{ 'Try again' | trans }}</button>
                                        <button type="button" popovertarget="{{ id }}" class="js-ai-product-management-apply btn">{{ 'Apply' | trans }}</button>
                                    </div>
                                {% endblock %}
                            </div>
                        {% endblock %}
                    </div>
                </div>

                <button type="button" tabindex="-1" popovertarget="{{ id }}" class="modal-backdrop"></button>
            </div>
        {% endblock %}
    </dialog>
{% endblock %}
